[Unit]
Description=Bot Discord pour GameCrawler

[Service]
Type=simple
ExecStart=/home/noah/GameCrawler/venv/bin/python3 /home/noah/GameCrawler/gameCrawlerBot.py

[Install]
WantedBy=multi-user.target
