[Unit]
Description=Bot Discord pour McCrawler

[Service]
Type=simple
ExecStart=/home/noah/McCrawler/venv/bin/python3 /home/noah/McCrawler/McCrawlerBot.py

[Install]
WantedBy=multi-user.target